body{
    background-image: url('assets/stars-1436950_1280.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#text-container{
    position: relative;
    top: 15%;
    left: 39%;
    color: wheat;
    font-size: 60px;
    font-family: cursive;
}

#btn {
    background-color: rgb(178, 11, 184);
    color: rgba(240, 248, 255, 0.808);
    padding: 12px 25px;
    font-size: 22px;
    margin-top: 15vh;
    cursor: pointer;
    top : 25%;
    left: 0; 
    border-radius: 15px;
    animation: btn_movement 2s ease-in-out forwards;
    position: relative; 
}

@keyframes btn_movement{
    0% {
        left: 0;
    }
    100% {
        left: 50%;
        transform: translateX(-50%); 
    }
}